@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@400;500;600;700&display=swap');

* {
  font-family: "Prompt";
}

.main {
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.services {
  max-width: 1400px;
  width: 100%;
  margin-top: 120px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tip {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557ab;
  }

  &__title {
    text-align: center;
    font-family: "Prompt";
    font-style: normal;
    font-weight: 400;
    font-size: 38px;
    line-height: 52px;
    color: #13253a;
  }

  &__items-block {
    width: 100%;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
}

.service-info {
  width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &__icon {
    width: 64px;
    height: 64px;
  }

  &__text {
    padding-top: 20px;
    font-family: "Prompt";
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    color: #3b4d6c;
  }

  &__description {
    padding-top: 5px;
    font-family: "Prompt";
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
    text-align: center;
    color: #13253a;
    mix-blend-mode: normal;
    opacity: 0.9;
  }
}

// X-Small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)
@media (min-width: 300px) and (max-width: 768px) {
  .services {
    &__title {
      padding: 20px;
    }
  }
  .service-info {
    &__icon {
      display: none;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }
