@import url("https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,400;0,600;1,400;1,600&display=swap");

.top-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  max-width: 1440px;
}

.header {
  &__logo {
  }

  &__menu-item {
  }
}

.main {
  &__info-block {
  }

  &__img {
  }
}

.business-info {
  &__tip {
  }

  &__title {
  }

  &__description {
  }

  &__button {
  }
}

.services {
  &__tip {
  }

  &__title {
  }

  &__items-block {
  }
}

.service-info {
}

.about {
  margin-top: 100px;
  width: 970px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__tip {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    color: #2557ab;
  }

  &__title {
    font-family: "Prompt";
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 52px;
    color: #13253a;
  }

  &__content-block {
    margin-top: 30px;
  }
}

.about-content {
  display: flex;

  &__text-container {
  }

  &__specialise-text {
    margin-bottom: 30px;
    font-family: "Prompt";
    font-style: italic;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #13253a;
    mix-blend-mode: normal;
    opacity: 0.9;
  }

  &__focus-text {
    margin-right: 30px;
    font-family: "Prompt";
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #13253a;
    mix-blend-mode: normal;
    opacity: 0.9;
  }

  &__lorem-text {
    font-family: "Avenir Next";
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 27px;
  }
}

.logo-block {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__icon {
  }
}
