body {
  display: flex;
  justify-content: center;
}

.kpi {
  max-width: 1440px;
  width: 100%;
  background-color: #F4F6F7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  font-family: 'Avenir', sans-serif;

  &__content-block{
    margin-right: 10px;
    margin-left: 10px;
  }

  &__heading {
    font-size: 46px;
    color: #13253A;
  }

  &__heading-orange {
    color: orange;
  }

  &__body {
    font-size: 16px;
    color: #2557AB;
  }
}